.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &-name {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: bold;
  }

  &-avatar {
    height: calc(var(--header-height) - 1.5rem);
    width: calc(var(--header-height) - 1.5rem);
    padding: 0.2rem;
    border: 1px solid var(--text-color-lighter);
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-brand {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-toggle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &-icon {
    color: var(--icon-color);
  }

  &-list {
    width: 100%;
    padding: .5rem 0;
    transform: scale(0);
    z-index: var(--z-back);
  }

  &-item {
    margin-bottom: 1rem;
    padding: .1rem 0;
  }

  &-item-active {
    display: inline-block;
    border-bottom: 1px solid var(--primary-color);
  }

  &-link {
    color: var(--text-color);
  }

  &-show {
    transition: transform .26s cubic-bezier(.17, .67, .62, 1.6);
    transform: scale(1);
  }

  @include from(md) {
    &-toggle {
      display: none;
    }
    &-list {
      width: auto;
      padding: 0;
      transform: scale(1);
      z-index: var(--z-normal);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-item {
      margin-bottom: 0;
      padding: 0;
      margin-left: 2rem;
    }
  }
}