:root {
  --accent-color: #fff;

  --text-color: #697477;
  --text-color-light: #a0a7ac;
  --text-color-lighter: #c8cdd0;

  --body-color: #fbfbfe;
  --border-color: #eff3f5;

  --thumb-color: #dfdfe8;
  --thumb-color-hover: #c1c1d3;
  --track-color:  #fdfdfe;
}
