:root {
  --accent-color: #070708;
  --primary-color: #25ca7f;

  --text-color-alt: #fbfbfe;
  --text-color: #697477;
  --text-color-light: #a0a7ac;
  --text-color-lighter: #c8cdd0;

  --body-color: #0e0f10;
  --border-color: #eff3f5;
  --icon-color: #a0a7ac;

  --thumb-color: #dfdfe8;
  --thumb-color-hover: #c1c1d3;
  --track-color:  #fdfdfe;
}
